---
import ErrorBoundary from '../../../src/ErrorBoundary.astro'
import ThrowError from '../components/ThrowError.astro'
import Wait from '../components/Wait.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<ErrorBoundary>
			<Wait ms={2000}>
				<ThrowError />
			</Wait>
			<div slot="error">
				{(error: Error) => <p>Error: {error.message}</p>}
			</div>
		</ErrorBoundary>
	</body>
</html>
