<script>
    document.getElementById('error-button')!.addEventListener('click', function() {
        throw new Error('This is an error')
    })
</script>

<button id="error-button">
    Click for error
</button>